[2018-10-11 05:04] DS-Tikhonov opened #1 "failed after go build but update Dockerfile fixed"
FROM golang:1.11-alpine as build

RUN apk add --no-cache alpine-sdk librdkafka librdkafka-dev

WORKDIR /src/prometheus-kafka-adapter
ADD . /src/prometheus-kafka-adapter

RUN go build -o /prometheus-kafka-adapter

FROM alpine
COPY --from=build /prometheus-kafka-adapter /
COPY --from=build /usr/lib/librdkafka.so.1 /usr/lib/librdkafka.so.1
COPY --from=build /lib/ld-musl-x86_64.so.1 /lib/ld-musl-x86_6

[2018-10-11 20:57] palmerabollo commented on #1
Thanks @DS-Tikhonov , we'll look into this as soon as possible.

[2018-10-12 14:19] palmerabollo opened #2 "Review if all the samples from prometheus are kept"
Review if the service is keeping all samples. [These two lines](https://github.com/Telefonica/prometheus-kafka-adapter/blob/master/prometheus.go#L36-L37) seem to be processing only the first sample.

[code]

[2018-10-12 14:21] palmerabollo opened #3 "Add examples to the README"
- Add an usage example (how to run the container).
- Add an example of the serialized JSON message that is sent to Kafka.

[2018-10-12 14:22] palmerabollo opened #4 "Add the integration to the prometheus docs"
Contribute this adapter to the official Prometheus docs:
https://github.com/prometheus/docs/blob/master/content/docs/operating/integrations.md

[2018-10-13 20:02] davidmarkstartapp opened #5 "JSON marshalling - design question"
Hi

This repo looks very promising! thanks for that.

I'd like to ask design question, what stands behind the json marshalling instead of sending to kafka with prometheus format?

Also, how you implemented that opposite way kafka -> prometheus?

Thanks
D.

[2018-10-14 17:08] DS-Tikhonov commented on #1
Hi @palmerabollo .

Yes, fails :
[vci]:$ git clone https://github.com/Telefonica/prometheus-kafka-adapter.git
Cloning into 'prometheus-kafka-adapter'...
remote: Enumerating objects: 14, done.
remote: Counting objects: 100% (14/14), done.
remote: Compressing objects: 100% (11/11), done.
remote: Total 14 (delta 3), reused 14 (delta 3), pack-reused 0
Unpacking objects: 100% (14/14), done.
[vci]:$ cd

[2018-10-14 19:56] palmerabollo commented on #1
Ok, it's the `docker run` command that fails. Thanks for the clarification. We'll fix it in the next few days. /cc @javierprovecho

[2018-10-14 20:13] DS-Tikhonov opened #6 "update README. add step for setting prometheus"
Hello @javierprovecho , add step for config prometheus.yml:
[code]

just about it never said.

And simple compose file docker-compose.yml:
[code]

[2018-10-14 21:49] javierprovecho commented on #5
Hi @davidmarkstartapp,

`kafka -> prometheus` is neither implemented or designed, but definitely something we should support in the future.

Right now, this is the open source version for dumping Prometheus metrics into Kafka.

We use JSON because data flows through Kafka to an Object Storage service where it is being archived for later querying to get KPIs, but we could easily support protobuf.

[2018-10-14 21:52] javierprovecho commented on #6
@DS-Tikhonov sure, I'll add them tomorrow along with example of k8s too.

[2018-10-15 07:19] palmerabollo commented on #5
@javierprovecho there could be a bug in the JSON serialization. I've added this issue https://github.com/Telefonica/prometheus-kafka-adapter/issues/2.

I'd say that kafka -> prometheus is a very low priority feature but we are open to contributions in this regard.

[2018-10-15 07:40] palmerabollo commented on #3
Duplicated of #6

[2018-10-15 07:40] #3 closed

[2018-10-17 18:57] palmerabollo opened #9 "Add travis and some basic unit tests"

[2018-10-18 07:15] #2 closed

[2018-10-18 07:15] #5 closed

[2018-10-18 12:01] palmerabollo opened #11 "Publish "latest" docker image"

[2018-10-18 14:40] #6 closed

[2018-10-18 15:55] palmerabollo opened #12 "Review +Inf and NaN JSON serialization"
see https://github.com/prometheus/docs/pull/1197#issuecomment-431059439

[2018-10-18 19:15] palmerabollo opened #14 "Support avro serialization"
Define an avro schema and add avro (json) to the list of supported serialization methods.

[2018-10-20 18:29] davidmarkstartapp commented on #5
Thanks!
I'll take a look
Cool work guys!

[2018-10-22 21:18] palmerabollo commented on #4
Done

[2018-10-22 21:18] #4 closed

[2018-10-23 13:21] palmerabollo opened #15 "Evaluate alternative kafka libs"

[2018-10-30 21:05] #9 closed

[2018-10-30 21:05] #12 closed

[2018-10-30 21:05] #14 closed

[2019-02-05 14:47] miguel-angel-monjas commented on #12
I'm getting some errors in the log in the following way:
`{"error":"json: unsupported value: NaN","level":"error","msg":"couldn't proccess timeseries","time":"2019-02-05T14:34:16Z"}
`
I assume that error is related to this issue, but it would be helpful to add the metrics name so that it is possible to trace it. Thanks

[2019-02-06 08:42] palmerabollo commented on #12
Thanks @miguel-angel-monjas , we'll look into it. Can you confirm what version you are using?

[2019-02-06 08:48] miguel-angel-monjas commented on #12
I'm using the Docker version. I assume it's 1.1.0:
`  prometheus-kafka-adapter:
    image: telefonica/prometheus-kafka-adapter:1.1.0
`
However, I haven't modified the log level (default to `info`). I'm activating the `debug` option to see whether there are further details. Thanks for your prompt answer

[2019-03-18 20:31] ingared8 opened #19 "Filter metrics based on key words"
Instead of accepting all metrics, provide a mechanism to filter messages (belonging to specific applications with keywords /regex).

[2019-03-18 22:16] palmerabollo commented on #19
Thanks for your feedback. We are thinking about it because we're not sure about whether the adapter is the best place to do the filtering.

An alternative would be to have a secondary/federated prometheus instance scraping metrics from the main one and sending it to your prometheus-kafka-adapter. In its config you can filter what metrics you need to gather:

[code]

You can find more info about pr

[2019-04-03 02:01] zl1079167478 opened #20 "as"

[2019-04-03 02:01] #20 closed

[2019-04-03 02:12] zl1079167478 opened #21 "As a chinese developer, how can I run it ? because there we have a wall"

[2019-04-03 11:28] palmerabollo commented on #21
What is your issue? If you are not able to download the docker image from docker hub, you can always clone this repository and build the image (`git clone` + `docker build -t telefonica/prometheus-kafka-adapter .`) on your own computer.

Another alternative, if you don't plan to move to another country, would be to use a VPN.

[2019-04-05 18:43] palmerabollo commented on #21
ping @zl1079167478

[2019-04-06 21:28] #21 closed

[2019-04-22 02:53] pengyide opened #22 "Error when using prometheus-kafka-adapter: 1.2.0"
{"error":"Local: Queue full","level":"error","msg":"couldn't produce message in kafka","time":"2019-04-22T02:46:06Z"}

[2019-04-22 06:39] palmerabollo commented on #22
Hi @pengyide. It looks like an error trying to communicate prometheus-kafka-adapter with your kafka.

Are you sure that your setup (KAFKA_BROKER_LIST, KAFKA_TOPIC) is right? The error "couldn't produce message in kafka" means that prometheus-kafka-adapter is not able to offload the metrics it receives from prometheus onto kafka.

Can you verify that your Kafka is reachable and that you can write m

[2019-04-22 09:16] pengyide commented on #22
Hi，I'm very happy to have received your response。I want to know what "KAFKA_BROKER_LIST" means, the following is my information，host IP is 10.121.11.15,

thanks again!

At 2019-04-22 14:40:00, "Guido García" <notifications@github.com> wrote:

Hi @pengyide. It looks like an error trying to communicate prometheus-kafka-adapter with your kafka.

Are you sure that your setup (KAFKA_BROKER_LIST, KAFKA_

[2019-04-22 09:22] palmerabollo commented on #22
It's the kafka host:port you need to configure as an environment variable as described at https://github.com/Telefonica/prometheus-kafka-adapter#prometheus-kafka-adapter-1

[2019-04-22 09:28] pengyide commented on #22
OK，very  thanks for you.

[2019-04-22 09:33] #22 closed

[2019-04-25 08:42] pengyide opened #23 "Receive failed: Disconnected"
When I run this adapter, the log shows the following error.

%3|1556163317.796|FAIL|rdkafka#producer-1| [thrd:10.121.218.13:30902/bootstrap]: 10.121.218.13:30902/1001: Receive failed: Disconnected
%3|1556163317.796|ERROR|rdkafka#producer-1| [thrd:10.121.218.13:30902/bootstrap]: 10.121.218.13:30902/1001: Receive failed: Disconnected
%3|1556163317.796|ERROR|rdkafka#producer-1| [thrd:10.121.218.13:30

[2019-04-25 22:32] palmerabollo commented on #23
@pengyide the most likely cause is that the only Kafka broker (1/1) that you have is down or not reachable. This is why it says it is "Disconnected". Make sure that your Kafka broker is up and that you can connect to it (for example, using kafka-console-producer) from the same machine where you run prometheus-kafka-adapter.

[2019-04-26 05:58] #23 closed

[2019-04-28 01:11] pengyide commented on #23
Thanks again. I want to know what data the prometheus transmitted via remote_write is placed under the directory of this adapter.
Thanks very much!

[2019-04-29 09:19] pengyide opened #24 "I want to know how to confirm that this adapter received the data sent by prometheus."
I want to know how to confirm that this adapter received the data sent by prometheus.

[2019-04-29 15:50] palmerabollo commented on #24
You just need to run it with LOG_LEVEL=debug to see everything it recieves. The magic is done in this line if I'm not wrong https://github.com/Telefonica/prometheus-kafka-adapter/blob/master/prometheus.go#L23.

[2019-04-29 15:50] #24 closed

[2019-04-30 01:04] pengyide commented on #24
oh,thanks for you!

At 2019-04-29 23:50:57, "Guido García" <notifications@github.com> wrote:

You just need to run it with LOG_LEVEL=debug to see everything it recieves. The magic is done in this line if I'm not wrong https://github.com/Telefonica/prometheus-kafka-adapter/blob/master/prometheus.go#L23.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it

[2019-07-03 14:13] obitech commented on #19
@ingared8 you could also try to drop labels / time series on the during the `remote_write` path via `write_relabel_configs`. See: https://prometheus.io/docs/prometheus/latest/configuration/configuration/#remote_write

[2019-07-04 07:11] #19 closed

[2019-08-29 09:43] linrl3 opened #26 "pkg-config: exec: "pkg-config": executable file not found in $PATH"
[code]

I just failed to build it.

[2019-08-29 09:52] linrl3 commented on #26
After installing pkg-config, go test passed.

[2019-08-29 09:52] #26 closed

[2019-11-17 17:02] johnatannvmd commented on #15
What is the problem with librdkafka? Just curious

[2019-11-17 18:22] palmerabollo commented on #15
@johnatannvmd There are no issues with librdkafka. It works well but we wanted to evaluate [sarama](https://github.com/Shopify/sarama) to compare its performance against librdkafka. Any experience in this regard is welcome.

[2019-11-25 06:46] #15 closed

[2019-12-31 07:59] maristeslk opened #29 "Error when using prometheus-kafka-adapter 1.4"
too much error
{"fields.time":"2019-12-31T07:57:07Z","ip":"127.0.0.1","latency":1373766,"level":"info","method":"POST","msg":"","path":"/receive","status":200,"time":"2019-12-31T15:57:07+08:00","user-agent":"Prometheus/2.12.0"}
{"fields.time":"2019-12-31T07:57:07Z","ip":"127.0.0.1","latency":12182080,"level":"info","method":"POST","msg":"","path":"/receive","status":200,"time":"2019-12-31T15:57:07

[2020-01-09 02:36] chijiajian commented on #29
too many 500 http return code
{"fields.time":"2020-01-09T02:35:41Z","ip":"10.130.62.12","latency":11423261,"level":"info","method":"POST","msg":"","path":"/receive","status":500,"time":"2020-01-09T10:35:41+08:00","user-agent":"Prometheus/2.7.1"}
{"fields.time":"2020-01-09T02:35:41Z","ip":"10.130.62.12","latency":11216110,"level":"info","method":"POST","msg":"","path":"/receive","status":500,"time"

[2020-01-16 10:13] palmerabollo commented on #29
@chijiajian We'd need additional info to reproduce the issue. Can you share:
- your prometheus-kafka-adapter config
- the version you are using

Moreover, try to set `LOG_LEVEL=true` and `GIN_MODE=debug` to turn debug logs on. They might be helpful to debug the issue.

[2020-02-06 20:19] drewwells opened #30 "Helm chart"
This project would be even more useful with a helm chart. The chart would serve as command line documentation, enable reliability from k8s, and support well consumed logging/metrics of the service.

[2020-02-07 12:49] palmerabollo commented on #30
@drewwells I'm not a helm expert, but you're right. Do you feel like contributing?

[2020-02-10 09:09] palmerabollo commented on #29
Unable to reproduce. Please, reopen if needed.

[2020-02-10 09:09] #29 closed

[2020-02-15 03:09] drewwells commented on #30
that'll work, please assign to me @palmerabollo

[2020-02-27 15:38] obitech opened #33 "Documentation for configuring Kafka SSL connection is wrong"
The documentation states that the Kafka SSL connection can be configured via the following variables:

[code]

However, the config expects `_SSL_` instead of `_TLS_` inside the variable names in https://github.com/Telefonica/prometheus-kafka-adapter/blob/master/config.go#L82:

[code]

[2020-02-28 12:41] #33 closed

[2020-02-28 14:45] obitech opened #34 "Bump versions of librdkafka and confluent-kafka-go ?"
We're using prometheus-kafka-adapter `1.4.1` internally with a `kafka_2.11-2.0.0` broker setup and because of the (what I assume) older version of `librdkafka` and `confluent-kafka-go` on the producer side, messages need to be converted by the consumer.

Would it create any issue to bump the versions of both modules for prometheus-kafka-adapter?

[code]

I did some tests locally and it builds fine

[2020-02-28 17:48] palmerabollo commented on #34
@obitech Yes, please, feel free to send a pull request. We can do some tests as well and publish a new 1.5.0 release if everything goes well. Thank you, Alexander.

[2020-03-02 21:01] #34 closed

[2020-03-04 08:55] #30 closed

[2020-03-31 09:58] LoicLeGal opened #37 "Fails when kafka is not using ssl"
if ssl is not used in kafka, ssl.fields should not be added in the context for libkafka:
https://github.com/Telefonica/prometheus-kafka-adapter/blob/4e89c6a5c0d5183f457aea17d117cf05cb9e11a5/main.go#L37

[2020-03-31 10:34] palmerabollo commented on #37
Thanks @LoicLeGal, you are right. They should be moved to the conditional below https://github.com/Telefonica/prometheus-kafka-adapter/blob/4e89c6a5c0d5183f457aea17d117cf05cb9e11a5/main.go#L44

Could you please send a pull request with the fix?

[2020-03-31 14:40] LoicLeGal commented on #37
Fixed in Telefonica/prometheus-kafka-adapter/pull/38 (and PR also fixed :) )

[2020-03-31 20:17] palmerabollo commented on #37
Merged. A new release 1.6.0 has just been published. Thank you for your help.

[2020-04-15 23:14] #37 closed

[2020-04-16 01:21] amaniwm opened #39 ""error":"Local: Queue full","level":"error","msg":"couldn't produce message in kafka"
Hi,

I need your help with the communication issue between the adapter and the kafka broker.

I am getting the following error:

"error":"Local: Queue full","level":"error","msg":"couldn't produce message in kafka

My setup details:

Host: CentOS7
Docker Version: 19.03.8
Docker Image Version: 1.6.0
Command to initiate the docker:  docker run --env-file env.list -p 8080:8080 -it 811dafe38cca

env.l

[2020-04-21 21:23] palmerabollo commented on #39
Hi @amaniwm, please take a look at this issue https://github.com/Telefonica/prometheus-kafka-adapter/issues/22 that describes the problem you are getting. For some reason, prometheus-kafka-adapter is not able to write messages to kafka.

Is the kafka broker reachable from the docker container where you run prometheus-kafka-adapter? Could you please try to connect to 192.168.128.139:9092 using any

[2020-05-01 17:25] SAbdulRahuman opened #40 ""error":"snappy: corrupt input","level":"error","msg":"couldn't decompress body""
I have following server in my docker-compose.yml file

`    prometheus-kafka-adapter:
        image: telefonica/prometheus-kafka-adapter:1.6.0
        ports:
            - 8080:8080
        networks:
            - back-tier
        restart: always
        environment:
            - KAFKA_BROKER_LIST=192.168.174.129:9092
            - KAFKA_TOPIC=first_topic
            - LOG_LEVEL=debug

[2020-05-01 18:45] palmerabollo commented on #39
I'm closing this issue. @amaniwm, please reopen it if needed.

[2020-05-01 18:55] palmerabollo commented on #40
Hi @SAbdulRahuman. Thanks for reporting the issue.

I don't know very well how compression works in Kafka, and I'm not using "snappy" compression, so can't help a lot here. The only relevant code is [this line](https://github.com/Telefonica/prometheus-kafka-adapter/blob/4339ddf44e0710b9093a7e687148645899084377/main.go#L33) where the `KAFKA_COMPRESSION` value is set as `"compression.codec"` in the

[2020-05-01 19:29] jpfe-tid commented on #40
Hi,

Snappy compression is used as part of the Prometheus remote read and write protocol to compress Prometheus protocol buffer encoding over HTTP. More details on the link below:

https://prometheus.io/docs/prometheus/latest/storage/#remote-storage-integrations

The error attached belongs to the snappy decompression step within the receive handler.

https://github.com/Telefonica/prometheus-kafka-

[2020-05-02 02:46] SAbdulRahuman commented on #40
Hi,

I was trying to send "alerts" from prometheus to Kafka. the approach is like "Prometheus to AlertManager to prometheu-kafka-adapter to kafka". There is no need of compression,first KAFKA_COMPRESSION value was default 'none' but i got the same issue, So tried to set 'snappy' as handlers.go performing 'snappy.Decode'.

Please find all configurations

- prometheus.yml
`version: "3.1"

volumes:

[2020-05-02 15:30] palmerabollo commented on #40
@jpfe-tid is right. That flow (alertmanager -> prometheus-kafka-adapter) is not supported. Only prometheus -> prometheus-kafka-adapter using [remote_write](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#remote_write) is allowed.

I'm closing this issue because the flow you describe (receiving alerts via alertmanager's `webhook_configs`) is out of the scope of this projec

[2020-05-02 15:30] #40 closed

[2020-05-04 10:52] amaniwm commented on #39
@palmerabollo  sorry for late reply and thanks for the response.

As suggested I tried posting to my kafka broker from the same host where I was running the kafka adapter container and I was able to post a message. However, I am still seeing same error in my adapter container.

here is the docker command I am using:

#40 docker run --env-file env.list -p 8080:8080 -it 811dafe38cca

The environment

[2020-05-06 06:42] jpfe-tid commented on #39
@amaniwm can you share your Kafka's advertiser listener configuration?

https://kafka.apache.org/documentation/#advertised.listeners

[2020-05-07 15:31] amaniwm commented on #39
@jpfe-tid  @palmerabollo  thanks guys for your support and help. it is working fine after enabling the advertised.listeners change.

Appreciate your help!
Cheers!!!

[2020-05-08 07:17] jpfe-tid commented on #11
@palmerabollo it is already published, isn't?

https://hub.docker.com/layers/telefonica/prometheus-kafka-adapter/1.6.0/images/sha256-4b6f2cec305fd116e3c29c9adbb123965f650d238d59e6f6d48ede6ca229c457?context=explore

https://github.com/Telefonica/prometheus-kafka-adapter/releases/tag/1.6.0

[2020-05-08 10:35] palmerabollo commented on #11
I mean a tag "latest", always pointing to the latest stable release (currently 1.6.0).

Automating this somehow, as part of the [CI pipeline](https://github.com/Telefonica/prometheus-kafka-adapter/blob/master/.travis.yml) would be cool, too.

[2020-05-25 06:21] liuzhen opened #41 "Exported metrics all are zero"
Hi, I was hoping to get the counter metrics of "metrics points sent to kafka", but all I got are:
* http_request counter
* queue size
and they are all 0.

Is this feature broken or working as designed?

[2020-05-25 10:13] palmerabollo commented on #41
Hi @liuzhen. I'm not sure if I understand your question. You'll get the metrics you configure in your prometheus' remote_write section. Are those metrics (i.e. metrics points sent to kafka) available in your prometheus? In that case, you should see them in Kafka as well.

[2020-05-25 11:26] jpfe-tid commented on #41
`http_requests_total` should increment on each **sucessful** remote write request received by the adapter.

https://github.com/Telefonica/prometheus-kafka-adapter/blob/d430b12d27810ecee67d5eaf6f87f6693c1eac60/handlers.go#L34

After a review of git history, `queueSize` was never implemented, probably because an internal queue was deprecated before open sourcing the adapter, therefore it is a leftov

[2020-05-25 11:29] jpfe-tid commented on #41
@liuzhen if you see `http_requests_total` equal to zero, could you share the version and enviromnent used so we can try to reproduce it?

[2020-05-26 08:11] liuzhen commented on #41
Thanks.
We tested with more instances, and `http_requests_total` works now.

[2020-05-26 08:11] #41 closed

[2020-06-01 12:45] palmerabollo opened #44 "Add unit-tests to travis CI"
The unit tests are not executed in the CI. See how https://github.com/Telefonica/prometheus-kafka-adapter/blob/master/.travis.yml#L14 only builds the docker image and runs the process, but existing unit tests are never executed.

[2020-06-11 14:32] carineKanouo opened #45 "How to run prometheus-kafka-adapter on a VM"
Hi, i don't use container and i want tu know how to setup prometheus-kafka-adapter on a vm and make it run properly

Thank you

[2020-06-11 14:40] jpfe-tid commented on #45
Hi @carineKanouo,

1. Install `librdkafka` with your system package manager.
2. Install Go, download this repo and switch to its directory.
3. Run `go build -o prometheus-kafka-adapter`.
4. Follow the README for a list of environment variables to be exported.
5. Execute the binary interactively or through a service manager (e.g. systemd).

Checkout the Dockerfile for reproducible build commands.

[2020-06-11 19:25] #45 closed

[2020-06-30 11:58] KennethNagin opened #48 "adapter not collecting prometheus metrics"
I've installed the prometheus-kafka-adapter using your helm chart.  However I am having no success getting it to work.
When print out its log get lots of messages like:

However there is nothing related to the prometheus metrics.
When I use portforwarding to browse to its home page I get a "404 page not found".
I also do not see anything in the kafka topic metrics.

These are the relate kubectl ge

[2020-06-30 13:00] palmerabollo commented on #48
@KennethNagin any logs in prometheus? Is the remotewrite URL ok? It is using the wrong bars ("\\" instead of "/"). Also, make sure you are using [`remote_write`](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#remote_write) instead of `remotewrite` in your prometheus configuration.

[2020-07-01 09:00] fcddk commented on #39
{"error":"Local: Queue full","level":"error","msg":"couldn't produce message in kafka","time":"2020-07-01T08:20:56Z"}
{"fields.time":"2020-07-01T08:20:56Z","ip":"100.101.182.20","latency":3156612,"level":"info","method":"POST","msg":"","path":"/receive","status":500,"time":"2020-07-01T08:20:56Z","user-agent":"Prometheus/2.15.2"}

[2020-07-01 10:31] palmerabollo commented on #39
@fcddk please open a new issue detailing your setup (prometheus-kafka-adapter version, config, etc) if needed.

[2020-07-02 08:38] smitra2020 opened #49 "Not able to connect to kafka server"
1. Installed adapter with a docker-compose
   Here is the docker-compose file used:

[code]

kafka broker running on 9093 port and topic metrics are in good health. Through a console producer, I can push messages to the topic. However, prom-kafka-adapter is not sending metric to the topic "metric". From prometheus to adapter, flow is working fine. We also do not see any error in the adapter log ex

[2020-07-02 10:45] palmerabollo commented on #48
I'm closing this issue. It looks like a problem in prometheus' config. @KennethNagin please reopen if needed.

[2020-07-02 10:45] #48 closed

[2020-07-02 12:13] fcddk opened #50 "Related data in kafka is lost"
log：
{"level":"info","msg":"creating kafka producer","time":"2020-07-02T11:57:14Z"}
{"fields.time":"2020-07-02T11:57:22Z","ip":"100.101.182.20","latency":5577772,"level":"info","method":"GET","msg":"","path":"/metrics","status":200,"time":"2020-07-02T11:57:22Z","user-agent":"Prometheus/2.15.2"}
{"fields.time":"2020-07-02T11:57:48Z","ip":"10.110.19.102","latency":4830491,"level":"info","method":"GE

[2020-07-02 12:16] fcddk commented on #50
kafka version: 2.4.0
prometheus-kafka-adapter version: 1.7.0
log： {"level":"info","msg":"creating kafka producer","time":"2020-07-02T11:57:14Z"}
but I cannot find topic information in kafka, and kafka and prometheus-kafka-adapter have no error information

[2020-07-02 12:18] fcddk commented on #50
Kafka deployment method: a single point of service deployed on a virtual machine.

[2020-07-02 13:59] palmerabollo commented on #50
Hi @fcddk, could you please set `LOG_LEVEL=debug` and share the logs? You should see some timeseries.
Note to myself: This open issue might be related https://github.com/Telefonica/prometheus-kafka-adapter/issues/49

[2020-07-06 14:11] vnydvd opened #51 "Supporting customisation when publishing to Kafka"
I have a question where I want community's suggestion and guidance.

A live prometheus server will be getting too many metrics per second and if say we want to selectively publish them to Kafka (considering Kafka being used by too many sibling applications in the flow) do you think adding a check in this Adapter is right strategy or it can/should be controlled at prometheus (while doing remote_wri

[2020-07-06 19:45] palmerabollo commented on #51
Hi, Vinay @vnydvd. Welcome to this repo.

That's a very good question. Filtering time series as close to the source as possible (prometheus) looks more efficient to me, to avoid sending data you want to discard. So we have a [federated prometheus](https://prometheus.io/docs/prometheus/latest/federation/#configuring-federation) that scrapes a subset of time series from the main Prometheus server. W

[2020-07-07 11:28] palmerabollo commented on #50
Ping @fcddk. Is this still an issue? Were you able to make it work?

[2020-07-07 11:30] palmerabollo commented on #49
Thanks, @smitra2020. We'll try to reproduce it as soon as we can. It would be really helpful if you could try with a previous version (such as 1.6.0) to know if we have introduced a bug in 1.7.0.

[2020-07-07 14:17] vnydvd commented on #51
Thank you for your response and suggestion. I would definitely check out the federated Prometheus approach as I have been testing by trying to drop metrics conditionally before posting to Kafka via passing a list of config to this adaptor.

But totally agree with you that it still allows the huge stream of metrics to flow in. Also if we can get some more interesting opinions from the users that wi

[2020-07-08 01:52] fcddk commented on #50
There are too many debug logs, but the same problem remains. Prometheus-kafka-adapter did not check whether kafka broker is available. I tested it and configured a kafka service address that does not exist at all, but I still can't see the error log.

[2020-07-08 06:13] palmerabollo commented on #50
Ok, so the issue arises when kafka broker is not available for some reason. Thanks for the info.
In our setup (kubernetes-based), we have an init container to make prometheus-kafka-adapter (PKA) wait until kafka is ready. This is why we don't see this issue.

How would you like it to work if no kafka broker is ready? I think there are two options:
1. PKA restarts itself, kafka will eventually be r

[2020-07-08 06:42] jpfe-tid commented on #49
Hi @smitra2020,

I see two separate issues here.

1. Unable to send metrics from adapter into kafka

   Unless you're running prometheus-kafka-adapter with `network: host`, there isn't a kafka broker listening on `localhost:9093`.

   Solutions:
   1. Deploy a kafka broker as a docker-compose container along with prometheus-kafka-adapter.

   2. Change `KAFKA_BROKER_LIST` environment variable valu

[2020-07-14 12:27] KennethNagin commented on #48
For the record.  This is the form that works for stable/prometheus values.yaml
server:
        remoteWrite:
                -  url: http://prometheus-kafka-adapter:8080/receive

[2020-07-24 02:18] huangyong1991 commented on #50
I have the same problem , there are no errors in the log ,where is the data?

[2020-07-24 02:41] huangyong1991 opened #52 "Not able to write kafka"
there are no error or even exception messages in prometheus-kafka-adapter and prometheus server,but the datas are not able to write to kafka correctly, I confirm that the kafka is working fine. which part went wrong?can you give me some advice ? I past env and log  in the document below

[2020-07-24 02:42] huangyong1991 commented on #52
#prometheus server prometheus.yml
# my global config
global:
  scrape_interval:     60s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 60s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

# Alertmanager configuration
alerting:
  alertmanagers:
  - static_configs:
    - targets

[2020-07-24 02:44] huangyong1991 commented on #52
#prometheus server prometheus.yml
# my global config
global:
  scrape_interval:     60s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 60s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

# Alertmanager configuration
alerting:
  alertmanagers:
  - static_configs:
    - targets

[2020-07-24 02:50] huangyong1991 commented on #52
[prometheus.docx](https://github.com/Telefonica/prometheus-kafka-adapter/files/4970016/prometheus.docx)
there are some log and configuration files

[2020-07-24 06:16] palmerabollo commented on #52
Closing as a duplicate of https://github.com/Telefonica/prometheus-kafka-adapter/issues/50

[2020-07-24 06:16] #52 closed

[2020-07-24 06:21] palmerabollo commented on #50
https://github.com/Telefonica/prometheus-kafka-adapter/issues/52#issuecomment-663324632 provides useful logs to help us debug this issue.

prometheus-kafka-adapter shows data, but it is not sent to the kafka topic for some reason:

[2020-07-24 06:26] #51 closed

[2020-07-24 06:30] palmerabollo commented on #50
@huangyong1991 we might have introduced a regression in our latest [release 1.7.0](https://github.com/Telefonica/prometheus-kafka-adapter/releases/tag/1.7.0). Which version are you using? Could you please try it with 1.6.0 instead to verify if it works as expected? It would help us find the bug.

[2020-07-27 06:37] huangyong1991 commented on #50
@palmerabollo  I use version 1.7.0

[2020-07-27 07:14] palmerabollo commented on #50
@huangyong1991 Could you repeat your test with 1.6.0, please?

[2020-08-05 12:10] carineKanouo opened #53 "SSL issue: No such configuration property, couldn't create kafka producer"
Hi,
i'm setting up prometheus-kafka adapter on a vm and i our kafka broker is reachable via https. when a fill **kafkaSslClientCertFile,  kafkaSslClientKeyFile, kafkaSslCACertFile** parameters in **config.go** file, i get error like below

./prometheus-kafka-adapter
{"level":"warning","msg":"invalid serialization format, using json","serialization-format-value":"","time":"2020-08-05T11:54:21+02:00

[2020-08-05 13:05] palmerabollo commented on #53
You shouln't modify the code in `config.go`. Please try using the following env vars, as described [in the readme](https://github.com/Telefonica/prometheus-kafka-adapter/blob/master/README.md#prometheus-kafka-adapter-1).

[code]

Please, let us know:
- what version of prometheus-kafka-adapter you are using.
- if you have the same issue running the Docker container.

[2020-08-06 09:24] carineKanouo commented on #53
Hi,
i'm using now the last commit of prometheus-kafka-adapter
We are not working on container but on vm
I used environment variable without modifying config.go file and i have these error

{"level":"warning","msg":"invalid serialization format, using json","serialization-format-value":"","time":"2020-08-06T11:19:20+02:00"}
INFO[0000] creating kafka producer                       source="main.go:29

[2020-08-06 12:01] Nevermore328 opened #54 "How to deduplicate data to kafka when using prometheus in high availability mode"
In high availability mode, we have 2 or more prometheus servers in a cluster,if config remote-write to prometheus-kafka-adapter in each prometheus server,may generate too much duplicated data,is there any way to solve this problem?I know cortex and thanos a little bit, they both can deduplicate data, but seems neither support send data to kafka directly.

[2020-08-06 18:57] palmerabollo commented on #53
I think something is wrong with your env vars. Could you please share all the env vars you are using?
For example, the "invalid serialization format, using json" means that it detects an unknown value (empty string) for `SERIALIZATION_FORMAT`.

[2020-08-06 19:40] palmerabollo commented on #54
@Nevermore328 That's a very good question. I don't have an answer, but I can share our setup just in case it helps:

We have two prometheus and we use thanos-querier as a sidecar. We have a third **federated prometheus that gathers metrics from the main prometheus and sends them to prometheus-kafka-adapter**. Its config looks like this (simplified for readability):

[code]

I'm sure there is a lot

[2020-08-07 03:08] Nevermore328 commented on #54
@palmerabollo Thanks for your relpy,but this solution needs a third prometheus, so there's another promblem: if this third  prometheus is in single mode, we lose the high availability; if it's in high availability mode,we have the same duplicate data problem...

[2020-08-07 07:10] edisongX commented on #54
i have the same problem,mark...

[2020-08-07 08:17] palmerabollo commented on #49
@smitra2020 were you able to solve the issue?

[2020-08-07 13:10] carineKanouo commented on #53
Hi,
"invalid serialization format, using json" is just a warning. I'm OK with JSON as default value. Anyway, i fixed it. and i still have the following error.

 ./prometheus-kafka-adapter
INFO[0000] creating kafka producer                       source="main.go:29"
{"error":"No such configuration property: \"ssl.certificate.location\"","level":"fatal","msg":"couldn't create kafka producer","time":"

[2020-08-07 13:20] palmerabollo commented on #53
Looks good to me. SSL support was introduced in https://github.com/Telefonica/prometheus-kafka-adapter/pull/27. @jarett-cyxtera sorry to bother you, do you see something wrong or do you know why we could be gettint the error `""No such configuration property: "ssl.certificate.location""`? I don't know why we get the "No such configuration property", it might be something related to librdkafka.

[2020-08-09 17:54] jarett-cyxtera commented on #53
Hi @palmerabollo - we haven't been using the SSL functionality in a while, but I will try to replicate and see what's going on.

[2020-08-26 21:41] johntdyer opened #55 "complementary consumer, seeking feedback"
Hey guys, thank you so much for your work here, its proving to be very helpful for our efforts.  That being said I am curious what you guys do w/ the data once its in Kafka ?   In our case we're trying to use Kafka as a transport layer between our data centers.  I am considering writing a consumer to complement this one.   Essentially what I am thinking would do the inverse of this one , in which

[2020-08-27 09:36] palmerabollo commented on #55
Thanks, @johntdyer. We use kafka-connect as a consumer to dump the data from Kafkka to S3 and be able to do some analytics.

We only implemented the remote write because it's the only flow we needed. The tool you suggest to support the [remote read](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#remote_read) makes perfect sense to me for some use cases such as the one yo

[2020-08-27 15:29] johntdyer commented on #55
@palmerabollo  - Thank you for responding !    So i am not sure if we're on the same page, because AFAIK we wouldnt be using the remote_read API at all.   Just incase I figured it might be a good idea to clarify my intentions to make sure I am not overlooking something big on my end.   So for the tool I am talking about I think it may help to think of it as a forward proxy for remote_write which u

[2020-09-15 12:11] carineKanouo commented on #53
Hello,
Please do you have news about this issue. I made tests again and i have this output:

 ./prometheus-kafka-adapter
{"level":"warning","msg":"invalid serialization format, using json","serialization-format-value":"","time":"2020-09-15T14:10:40+02:00"}
{"level":"info","msg":"creating kafka producer","time":"2020-09-15T14:10:40+02:00"}
{"error":"No such configuration property: \"ssl.key.passwor

[2020-09-17 14:17] palmerabollo commented on #53
No news, I'm not able to reproduce it. I guess it's something wrong in your setup.

I've tried to run a docker container:
`docker run --rm -it telefonica/prometheus-kafka-adapter:1.7.0 sh`

And then run prometheus-kafka-adapter with a correct value for `SERIALIZATION_FORMAT`:

[code]

As you can see, no "invalid serialization format, using json" is shown.
However, if I use a wrong value, it's show

[2020-10-14 20:57] palmerabollo commented on #53
I'm closing this. I'm not able to reproduce it. I think something is wrong with your setup or the way you pass the required environment variables. Feel free to reopen the issue if you think we can help you debug the issue somehow.

[2020-10-14 20:57] #53 closed

[2020-11-12 04:40] skupjoe commented on #55
I am curious about this also. Is there any way to consume these metrics on the other end and provide a Prometheus endpoint that can be scraped?

[2020-11-18 16:56] shayyashar opened #56 "Kafka with sasl doesn't get metrics without error logs in adapter"
Hi, first of all i want to tell that this adapter is very helpful for my situation - prometheus to kafka in RT.
I have a kafka in my office with "sasl" security protocol and mechanism of "scram-sha-256".
With log level of debug, I can see in the container that the metrics flow through the adapter but they don't get in to kafka. I had the env vars in the deployment yaml but i don't see nothing in t

[2020-12-01 11:12] yashdeeph709 opened #57 "Unable to connect to ssl enabled kafka"
Hi Team,
I am trying to connect my prometheus-kafka-adapter with kafka running on aws with tls1.2. I configured the ssl parameters as specified in the documentation. But fails with this message.

%6|1606820860.383|FAIL|rdkafka#producer-1| [thrd:<broker-address>]: <bootstrap-server-address>: Disconnected while requesting ApiVersion: might be caused by incorrect security.protocol configuration (conn

[2020-12-01 11:12] yashdeeph709 commented on #57
I also tried the api.version.request false

[2020-12-02 07:37] palmerabollo commented on #57
Hi @yashdeeph709, could you please try connecting to Kafka using kafka-console-producer from the same machine that fails? I'd like to know if the issue is in Kafka (eg. wrong Kafka advertised listener, see https://www.confluent.io/blog/kafka-client-cannot-connect-to-broker-on-aws-on-docker-etc/). Are any other Kafka producers able to connect to your Kafka brokers?

[2021-01-19 13:31] palmerabollo commented on #57
I'm closing this issue because I'm not able to reproduce it. Please reopen it with additional info if needed.

[2021-01-19 13:31] #57 closed

[2021-01-25 13:23] shayyashar opened #58 "Batch num messages doesn't work - kafka recieve metrics one by one"
Hi,
Im trying to take metrics from peometheus with adapter and batch messages of 100 but I see at kafka metrics one by one.
Someone who can help?
Thnx :)

[2021-01-26 07:56] shayyashar commented on #58
I meant that the producer send to kafka json that represents one metrics, and not json of jsons that represents more than one metric in one message.

{
     {
          Metric 1
     },
...
     {
          Metric 100
     }
}

[2021-01-27 02:32] harold-kfuse commented on #50
@palmerabollo I'm facing this same issue too. I used helm chart to deploy this and also I used the bitnami helm chart to deploy kafka on my k8s cluster. I have similar log as above but when I check kafka, it doesn't have anything.

[2021-01-27 15:32] palmerabollo commented on #58
Hi @shayyashar, I guess you are using `KAFKA_BATCH_NUM_MESSAGES: 100`, right?. That is the expected behavior.
Batching them means that they are sent in batches of 100 entries, but they are not grouped together in a complex/nested structure.

I mean, they are sent as

[code]

and not

[code]

[2021-01-27 15:32] #58 closed

[2021-01-27 16:39] #56 closed

[2021-01-27 18:43] harold-kfuse commented on #50
I tested with 1.6.0 and it works. I see metrics in kafka.

[2021-03-11 13:35] Gallardot opened #60 "Can not build docker images"
Prometheus-Kafka-Adapter is a very good project that has helped us a lot. We made some improvements to it, so we need to rebuild the docker image.

But we're having some problems and we need some help.

[code]

This appears to be a version dependency issue with libssl.

[2021-03-11 15:15] Gallardot commented on #60
The [travis-ci](https://travis-ci.org/github/Gallardot/prometheus-kafka-adapter/jobs/762472917) has the same problem.
[code]

[2021-03-11 21:43] palmerabollo commented on #60
Yes, as stated here https://github.com/Telefonica/prometheus-kafka-adapter/blame/master/Dockerfile#L4 we included some edge versions, that is a risky practice. I'll send a fix as soon as possible, because that workaround is no longer needed.

Please consider contributing those improvements back to the community in one (or several) pull requests :)

[2021-03-11 22:04] #60 closed

[2021-03-11 23:13] jpfe-tid commented on #60
@Gallardot #62 fixed a build error introduced at #59.

please use the latest master version if you want to use confluent-kafka-go 1.3.0

please try #63 version instead if you prefer confluent-kafka-go 1.6.1

thanks for using prometheus-kafka-adapter 🙂

[2021-03-13 02:21] Gallardot commented on #60
@jpfe-tid  @palmerabollo

Thank you for your help and quick response. I have tested the latest version and there is no problem. I will create a PR for our improvements later. Thanks again.

[2021-03-15 12:15] jpfe-tid commented on #54
I don't see it wrong to have duplicated data as long as the origin of it is identified. The key to scale the "prometheus matcher" federation instance, is to give the metrics produced by itself an identity

This can be achieved with `externalLabels` Prometheus configuration property (see https://prometheus.io/docs/prometheus/latest/configuration/configuration/) by either:

- identifying the origin,

[2021-04-10 17:55] palmerabollo opened #65 "Include match rules support in the docs"
Document this new feature https://github.com/Telefonica/prometheus-kafka-adapter/pull/64

[2021-04-29 16:54] johnseekins opened #66 "Can this be used with a load balancer"
It isn't clear from the docs, but is it possible to put prometheus-kafka-adapter behind a load balancer?

I would imagine it largely depends on how `remote_write` works in Prometheus itself...but even a LEAST_CONNECTED or SOURCE_IP balancing strategy _might_ work?

[2021-04-29 20:23] palmerabollo commented on #66
Hi @johnseekins. Yes. Prometheus-kafka-adapter is stateless. You can use any load balancing strategy. We use several instances in our production environment with a Kubernetes service in front of them, that acts as a load balancer.

[2021-04-29 21:02] johnseekins commented on #66
Perfect. Thanks.

[2021-04-29 21:02] #66 closed

[2021-05-04 13:44] johnseekins commented on #55
Providing a prometheus endpoint to scrape on the other side of Kafka is fairly fraught. You can't guarantee that data coming from Kafka will show on a consistent schedule, so you may get data overwritten (e.g. two points for the same series come in between scrapes, point 2 could potentially overwrite point 1) or data missed (caching the data in the endpoint can only be done for so long before the

[2021-06-02 14:28] AitZaid opened #68 "Add more explanation on how prometheus-kafka-adapter work to link to Prometheus"
Hello I'm here seeking for help but also to suggest to developp the documentation a little bit more as there are some concepts that aren't natural to grasp.

I find it very difficult to understand how the connexion between Prometheus and prometheus-kafka-adapter is established through the remote-write as the prometheus-kafka-adapter is deployed in a kubernetes cluster for me how does the URL  that

[2021-06-02 20:58] palmerabollo commented on #68
Hi @AitZaid, thanks for your feedback.

I'm not sure I understand your setup. Can you confirm that your prometheus-kafka-adapter runs in a Kubernetes cluster and Prometheus runs in a server that is not part of the same cluster? @jpfe-tid could you please confirm that a `Service` with `type: LoadBalancer` is a good option to make prometheus-kafka-adapter to an external Prometheus (via remote_write)

[2021-06-03 08:27] AitZaid commented on #68
@palmerabollo yes, I confirm that, so here is in this schema the situation we have our Prometheus is run in our docker on another server :
![Untitled Diagram](https://user-images.githubusercontent.com/26538393/120610674-b6045900-c453-11eb-96a2-c0224bb96a26.png)

the question is how Prometheus connect to Prometheus-Kafka-adapter, for instance, I do understand the connection between Prometheus-Kafka

[2021-06-03 08:39] jpfe-tid commented on #68
Yes, either `type: LoadBalancer` for a provider managed load balancer or `type: NodePort` for exposing prometheus-kafka-adapter service in a specific port of all nodes in the cluster, which can later be managed by an external load balancer or DNS discovery.

---

Hi @AitZaid,

The URL in th example (`"http://prometheus-kafka-adapter:8080/receive"`) is meant to work for a Kubernetes service named `

[2021-06-03 10:27] chenmudu opened #69 "issue : How Prometheus uses Prometheus-Kafka-Adapter to ensure that only one Prometheus delivers data to Kafka at a time."
like this :
prometheus A --remote write-->prometheus-kafka-adapter|

prometheus B --remote write-->prometheus-kafka-adapter| (Only one adapter will be selected in the end)-----> Cousumer(My own App).

prometheus C --remote write-->prometheus-kafka-adapter|

That is, prometheus-kafka-adapter can select the main write remote operation.

Thanks a lot, maybe i need some help.

others:  [click here](ht

[2021-06-04 13:27] billmania42 opened #70 "Include support for kerberos?"
Can this code support using GSSAPI (kerberos)?

[2021-06-06 10:23] palmerabollo commented on #69
Hi @chenmudu , I'm not sure I understand your question.
You have three different prometheus sending data to the same prometheus-kafka-adapter, and you want to consume data written in kafka with your own app. Could you please clarify what you mean by "ensure that only one prometheus delivers data to kafka at a time"? Thanks.

[2021-06-06 10:30] palmerabollo commented on #70
Hi @billmania42.
We have no plans to support it but we are open to contributions if you feel like adding/maintaining it. We already support SASL/SCRAM (via `KAFKA_SECURITY_PROTOCOL` and `KAFKA_SASL_MECHANISM` env vars) so I guess it's doable, but I have no experience with GSSAPI so I can't tell how hard it would be.

[2021-06-06 20:43] billmania42 commented on #70
Ok, thank you.

[2021-06-07 15:51] chenmudu commented on #69
Thanks for your reply.

Three sets of P8s replicas that **collect the same data source** send data to their respective Adapters.What I would like to implement is that these three P8s replica sets can implement distributed election operations, but that doesn't seem to be possible.Therefore, we want to bind to the current P8s node in the Adapter layer (weak binding), and implement a similar primary

[2021-06-07 21:52] palmerabollo commented on #70
I'm closing the issue. Thank you for the idea.

[2021-06-07 21:52] #70 closed

[2021-06-08 07:29] jpfe-tid commented on #69
If I understand correctly, you want to perform a leader election across all prometheus-kafka-adapters, so only the leader can send data to Kafka. It is correct?

I consider this pattern wrong because either:

1) Every prometheus instance will keep sending data to each prometheus-kafka-adapter, receiving a successful "ghost write" because it is probable that the prometheus-kafka-adapter is not a le

[2021-06-08 15:19] chenmudu commented on #69
Yeah. I'm glad my description got cleaner.Thanks for your reply.

I'm not sure what "ghost Write" is, can I understand it as an HTTP response from the prometheus-Kafka-Adapter to its sender(prometheus)?

Prometheus writes data out of the memory to a certain extent, but I do not quite understand the meaning of "backpressure" ? Does it mean wasting some of Prometheus' own performance?Or is it someth

[2021-06-15 15:23] billmania42 commented on #70
I will give this a shot.  I am going to test this out.  At that point open a PR.  Thanks

[2021-07-06 08:06] #69 closed

[2021-08-06 16:35] JasonZhang1991 opened #74 "请问下 windows可以打包吗，confluent-kafka-go在windows下似乎不能运行"

[2021-08-08 14:57] palmerabollo commented on #74
Hi @JasonZhang1991. I've never tried it on Windows, but **it should work**. Please let us know all the details you have about the error you see when you package the app on Windows.

_(You could also use the Docker image if you don't want to compile it yourself)_

[2021-08-09 03:45] JasonZhang1991 commented on #74
it noticed some kafka package not found ,i have tried it on wsl based on debian and it worked

[2021-08-09 03:47] #74 closed

[2021-09-28 09:56] #44 closed

[2021-11-08 05:46] rlatjd1f opened #81 "Why this logs happen?? error 404 occurs when the kube-prometheus-stack calls healthz."
`<html>
<body>

  |  
-- | --
Mon, Nov 8 2021 2:31:10 pm | {"level":"warning","msg":"invalid serialization format, using json","serialization-format-value":"","time":"2021-11-08T05:31:10Z"}
Mon, Nov 8 2021 2:31:10 pm | {"level":"info","msg":"creating kafka producer","time":"2021-11-08T05:31:10Z"}
Mon, Nov 8 2021 2:31:10 pm | [GIN-debug] [WARNING] Running in "debug" mode. Switch to "release" mode i

[2021-11-08 05:51] rlatjd1f opened #82 "Why this logs happen?? error 404 occurs when the kube-prometheus-stack calls healthz."
## kube-prometheus-stack Pod Log

Mon, Nov 8 2021 2:31:10 pm | {"level":"warning","msg":"invalid serialization format, using json","serialization-format-value":"","time":"2021-11-08T05:31:10Z"}
Mon, Nov 8 2021 2:31:10 pm | {"level":"info","msg":"creating kafka producer","time":"2021-11-08T05:31:10Z"}
Mon, Nov 8 2021 2:31:10 pm | [GIN-debug] [WARNING] Running in "debug" mode. Switch to "release" mo

[2021-11-08 05:57] #81 closed

[2021-11-12 15:11] Akilankm opened #83 "Documentation"
can someone upload a proper usage documentation ?

[2021-11-23 18:58] sousadax12 commented on #82
I was having the same error. I just build a new docker image and use it instead of using the one in dockerhub.

[2021-11-25 22:06] palmerabollo commented on #83
@Akilankm the main README https://github.com/Telefonica/prometheus-kafka-adapter#prometheus-kafka-adapter should be enough to start using it. What do you miss or what parts are not clear enough? Thanks.

[2021-11-25 22:08] palmerabollo commented on #82
@sousadax12 did you change anything? I wasn't aware the image at dockerhub was not ok. Can you confirm whether you just run docker build using the official Dockerfile at https://github.com/Telefonica/prometheus-kafka-adapter/blob/master/Dockerfile?

[2021-11-25 22:16] #49 closed

[2021-11-25 22:16] #54 closed

[2021-11-25 22:17] #50 closed

[2021-11-26 06:27] Akilankm commented on #83
- We have configured as mentioned in README and we are having the adapter in kubenetes cluster with an external prometheus and configured the nodeport as well.

 - There seems to be a error in deployment.yaml file regarding Liveness and Readiness since the pods keeps going into **CRASHLOOPBACKOFF** state. To resolve this we commented out the lines to get it to running state

 - We are not sure how

[2021-11-26 09:49] sousadax12 commented on #82
I just did that, but I will paste here my version:
[code]

[2022-01-04 14:58] rambabubolla opened #84 "Liveness probe and Readiness probe failed with 404"
ncn-m001:~ # kubectl logs prometheus-kafka-adapter-857659c4d7-mqr2d
{"level":"warning","msg":"invalid serialization format, using json","serialization-format-value":"","time":"2022-01-04T14:51:24Z"}
{"level":"info","msg":"creating kafka producer","time":"2022-01-04T14:51:24Z"}
[GIN-debug] [WARNING] Running in "debug" mode. Switch to "release" mode in production.
 - using env:   export GIN_MODE=rel

[2022-01-04 15:00] rambabubolla commented on #84
promothisys config:
============
remote_write:
- url: http://prometheus-kafka-adapter:8080/receive
  remote_timeout: 30s
  queue_config:
    capacity: 500
    max_shards: 1000
    min_shards: 1
    max_samples_per_send: 100
    batch_send_deadline: 5s
    min_backoff: 30ms
    max_backoff: 100ms

ncn-m001:~ # kubectl get svc

prometheus-kafka-adapter                        ClusterIP   10.22.149.19

[2022-01-04 15:53] rambabubolla commented on #84
@palmerabollo thanks a lot  👍  it is working

[2022-01-04 16:19] palmerabollo commented on #84
@rambabubolla There is a [new release 1.8.0](https://github.com/Telefonica/prometheus-kafka-adapter/releases/tag/1.8.0) that includes the new /healthz endpoint, just in case you find it useful.

[2022-01-28 13:29] rambabubolla opened #85 "unable to see any metrics in kafka topic help in debuging"
Unable see metrics in kafka topic and also unable to debug

able to see logs in promothisys

level=info ts=2022-01-28T03:58:11.350Z caller=main.go:799 msg="Loading configuration file" filename=/etc/prometheus/config_out/prometheus.env.yaml
ts=2022-01-28T03:58:11.360Z caller=dedupe.go:112 component=remote level=info remote_name=8a1db9 url=http://prometheus-kafka-adapter:8080/receive msg="Starting W

[2022-01-28 13:31] rambabubolla commented on #85
prometheusSpec:

      remoteWrite:
        - url: "http://prometheus-kafka-adapter:8080/receive"

[2022-01-28 13:33] rambabubolla commented on #85
{"level":"warning","msg":"invalid serialization format, using json","serialization-format-value":"","time":"2022-01-28T05:18:29Z"}
{"level":"info","msg":"creating kafka producer","time":"2022-01-28T05:18:29Z"}
[GIN-debug] [WARNING] Running in "debug" mode. Switch to "release" mode in production.
 - using env:   export GIN_MODE=release
 - using code:  gin.SetMode(gin.ReleaseMode)

[GIN-debug] GET

[2022-02-01 06:21] rambabubolla commented on #85
able to verify with kafka broker is working fine
 kafkacat -L -b cluster-kafka-0.cluster-kafka-brokers.sma.svc.cluster.local |grep test
  topic "metric-test" with 4 partitions:
/ #

[2022-02-01 10:54] rambabubolla commented on #85
tried with image version 1.8.0 tag but same result there is no POST call
kubectl logs  prometheus-kafka-adapter-8457c4c8f7-mgvsr
{"level":"info","msg":"creating kafka producer","time":"2022-02-01T10:53:07Z"}
[GIN-debug] [WARNING] Running in "debug" mode. Switch to "release" mode in production.
 - using env:   export GIN_MODE=release
 - using code:  gin.SetMode(gin.ReleaseMode)

[GIN-debug] GET

[2022-02-02 07:17] rambabubolla commented on #84
@palmerabollo thanks for sharing .For me unable to get kafaka data raised the issue

[2022-02-02 10:49] rambabubolla commented on #85
ubectl logs prometheus-kafka-adapter-698697ffd7-ldglr
{"level":"info","msg":"creating kafka producer","time":"2022-02-02T10:46:19Z"}
[GIN-debug] [WARNING] Running in "debug" mode. Switch to "release" mode in production.
 - using env:   export GIN_MODE=release
 - using code:  gin.SetMode(gin.ReleaseMode)

[GIN-debug] GET    /metrics                  --> github.com/gin-gonic/gin.WrapH.func1 (3 handl

[2022-02-02 14:09] rambabubolla commented on #85
working fine with ipaddress instead of prometheus-kafka-adapte

remoteWrite:
        - url: "http://prometheus-kafka-adapter:8080/receive"

[2022-02-02 14:09] #85 closed

[2022-02-02 14:18] DasDepp commented on #82
Hello,
I have the same issue. Is really the docker image defect or could there be any other issues?

[2022-02-03 08:31] DasDepp opened #86 "Status 404 and no metric forwarding"
Hello together,

I deployed the prometheus-kafka-adapter in a Rancher managed Kubernetes cluster. In activated in Rancher the monitoring. With this option Rancher deployes Prometheus automatically. In the Prometheus configuration I added the prometheus-kafka-adapter endpoint (http://dev.test.com/prometheus-kafka-adapter:8080/receive). I also created an Load Balancer to the http://dev.test.com/prom

[2022-02-07 07:58] DasDepp commented on #86
After setting up the NodePort configuration everything works fine.

[2022-02-07 07:58] #86 closed

[2022-02-07 08:07] DasDepp opened #87 "Using of message keys depending on metric names"
Hi all,

is something planned to use Kafka message keys for the metric messages? That feature would enable an assurance of the correct order for metric messages in Kafka.

BR

[2022-02-17 20:31] palmerabollo commented on #87
@DasDepp I'm not sure I understand your proposal. Could you please elaborate? Thx.

[2022-02-18 21:27] #83 closed

[2022-02-24 07:45] MuhammadMunir12 opened #88 "Prometheus kafka integration on bare metal"
I want to integrate prometheus with kafka in sucha way that prometheus alerts are sent to kafka broker as producer and consumer get the alerts as message in kafka queue. It would be highly appreciated if anyone can guide on how to do this.

[2022-03-23 21:56] palmerabollo commented on #88
Hi @MuhammadMunir12 , take a look at how prometheus-kafka-adapter is built https://github.com/Telefonica/prometheus-kafka-adapter/blob/master/Dockerfile#L9. Once you have it compiled, you should be able to run the binary on bare metal.

[2022-03-24 12:24] rajasreesekar opened #89 "Include regex match for metrics in MATCH"
Hi all

Can you plan to have regex match for metrics in MATCH rules. Please provide a supporting document too that explains the format. For example , if i want to receive metrics starting with container_memory and namespace starting with test.

``` "['container_memory.*{namespace=\"test.*\"}']" ```

Without regex, have to add each and every metrics one by one with combinations of difference namesp

[2022-03-26 02:35] golangav opened #90 "error: Loacl: Queue full couldn't produce massage in kafka"
<img width="1317" alt="image" src="https://user-images.githubusercontent.com/21213494/160221421-6ab65de0-add4-48bf-be14-c55b09934d55.png">

<img width="1160" alt="image" src="https://user-images.githubusercontent.com/21213494/160221445-9dbb6210-f037-42c7-8832-3ada471f4ac9.png">

[2022-03-27 15:45] palmerabollo commented on #90
Hi @golangav, thanks for opening this issue. What do you recommend us to do when the queue is full?

[2022-03-27 15:57] palmerabollo commented on #89
Hi @rajasreesekar, you are right, `MATCH` is not even documented in the main https://github.com/Telefonica/prometheus-kafka-adapter/blob/master/README.md. Do you feel like contributing that change? I personally won't have the time to do it in the short-medium term.

Matching rules were introduced in https://github.com/Telefonica/prometheus-kafka-adapter/pull/64 by @Gallardot, in case it's helpful.

[2022-03-27 15:57] #88 closed

[2022-03-29 22:49] golangav commented on #90
https://github.com/confluentinc/confluent-kafka-dotnet/issues/703

[2022-03-29 22:50] golangav commented on #90
Hello, can you add a queue

[2022-03-29 22:53] golangav commented on #90
@palmerabollo
<img width="843" alt="image" src="https://user-images.githubusercontent.com/21213494/160719682-8010b139-fdd9-47c6-851b-c60cfbd54a59.png">

[2022-03-29 22:54] golangav commented on #90
@palmerabollo
<img width="843" alt="image" src="https://user-images.githubusercontent.com/21213494/160719734-57fb7de9-b787-4d82-9ba9-2a5b52f4d295.png">

[2022-03-30 09:02] rajasreesekar commented on #89
@palmerabollo Ok, will take a look at the filter at prometheus level, But i suppose that filter is common for all remote_writes right?. Not specific to one

[2022-03-30 15:15] golangav opened #91 "docker build . wrong, can you help me?"
<img width="1869" alt="image" src="https://user-images.githubusercontent.com/21213494/160869683-72f0f61e-c62c-477c-8604-0515fea262b0.png">

[2022-04-06 07:44] karthik-chinta opened #92 "madler-zlib 1.2.11 : New vulnerability reported with this opensource library"
Hi,

A new vulnerability was reported on madler-zlib 1.2.11 library with the below problem.
"zlib before 1.2.12 allows memory corruption when deflating (i.e., when compressing) if the input has many distant matches".

As a resolution, this library need to be upgraded to 1.2.12 version.
Can you help us in upgrading this library?

Regards.
Karthik

[2022-04-21 08:58] psreekrishnan opened #93 "No effect of KAFKA_BATCH_NUM_MESSAGES variable."
Hi There,

Setting KAFKA_BATCH_NUM_MESSAGES to different values has no effect on the adapter. Tried by setting10K (default) up to 50K.

I was looking for a way to avoid the below error by increasing the BATCH_NUM_MESSAGES value hoping that I get more room in the adapter to accommodate more messages in the queue.

`{"error":"Local: Queue full","level":"error","msg":"couldn't produce message in kafk

[2022-04-22 13:05] GLucaDEV opened #94 "Error while trying to connect to kafka cluster"
Hello mates,

I am trying to connect to my kafka cluster.
The readme states, that the default to use is just "kafka:9092", if I do that, I am getting following error message:

"| %3|1650632487.512|FAIL|rdkafka#producer-1| [thrd:localhost:9092/1]: localhost:9092/1: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT, 1 identical error(s) suppressed)"

If I try to u

[2022-04-24 13:03] #94 closed

[2022-06-29 16:15] brokenjacobs commented on #55
I too am looking at using this for either Mimr or cortex on the receiving side, not with remote_read but as a remote_write proxy. I want to subscribe to a wildcard set of topics (from multiple prometheus instances relaying) and batch into a cortex/mimr instance with remote_write. Has anyone else done this?

[2022-06-30 13:43] palmerabollo commented on #93
@psreekrishnan sorry for the late reply. I've not touched that code in months, but here is the mapping between vars and librdkafka properties https://github.com/Telefonica/prometheus-kafka-adapter/blob/8d4d51dce302bb36605e0d8df2ce41d21c779ac2/main.go#L33=

KAFKA_BATCH_NUM_MESSAGES is mapped to "batch.num.messages", not "queue.buffering.max.ms", that is not supported yet, as far as I remember. Feel

[2022-06-30 14:07] palmerabollo commented on #92
I have just run an `apk list` and I can see `zlib-1.2.12-r0 x86_64`, so I think it is already ok. Please reopen if that's not the case.

[code]

[2022-06-30 14:07] #92 closed

[2022-07-07 16:25] brokenjacobs commented on #55
I just wanted to add here if anyone doesn't know about it:
https://github.com/open-telemetry/opentelemetry-collector-contrib

This project can do both sides of this use case.

[2022-07-13 09:09] bkslash opened #97 "How to read data from kafka and push via remote_write"
Hi, how to achieve opposite data flow - if data is already in kafka topic, how can I send it to remote storage using remote_write? So something like this:

some_metric_source->remote_write->prometheus-kafka-adapter->kafka_topic->???????->remote_write->some_remote_storage

I don't want to scrape data using prometheus pull mechanism, I'd like to have all data to be pushed in realtime...

[2022-08-14 21:06] palmerabollo commented on #97
Thanks for asking @bkslash. Prometheus-kafka-adapter doesn't support it.
Not sure if this issue https://github.com/Telefonica/prometheus-kafka-adapter/issues/55 is related.

[2022-08-14 21:06] #97 closed

[2022-09-20 03:02] dongdong741 opened #100 "Can not find data in Kafka consumer?"
I utilized docker-compose to config kafka, adapter and prometheus:
[docker-compose.yml]
kafka:
    image: wurstmeister/kafka
    # image: jmx_kafka
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: kafka
      KAFKA_ADVERTISED_PORT: 9092
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

prometheus-kafka-adapter:
    image: telefonica/prometheu

[2022-10-06 11:07] acidelk opened #101 "Publish latest docker image (1.9.0?)"
Hi.
Please publish latest docker image after this changes: https://github.com/Telefonica/prometheus-kafka-adapter/commit/6a1dbf53779c4adeb6ee4e7fb2981391074966aa
1.8.0 has a critical vulnerabilities :(

[2022-11-09 18:53] ssmails opened #102 "Prometheus Metric type missing in the serialized JSON to Kafka"
The prometheus metric type could be included in the searlized JSON sent to Kafka.
Having the metric type populated, would make it easier to work with the consumers of Kafka
Eg: https://docs.confluent.io/5.5.3/connect/kafka-connect-prometheus-metrics/index.html --> This assumes the metric type is included in the json added under the kafka topic.

https://github.com/Telefonica/prometheus-kafka-adapt

[2022-11-29 07:10] alexclownfish opened #103 "The abnormal log caused the log file to be /300MB per minute"
"Hello, this is the abnormal processing of the printed log. Do you need to improve it?"? Because it would cause a large number of error logs, and within ten minutes, the size of the log file would be 2GB
![image](https://user-images.githubusercontent.com/63449830/204461656-32bb3030-6995-4dff-abcc-3da3047fd9f9.png)